.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 500px;
  height : auto;
}
div{
  position:absolute;
  transform:translate(-50%,-50%);
  height:35px;
  width:35px;
  background-color: green;
  border-radius:50%;
  border:2px solid black;
}
