a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
/* selected link */
a:active {
    text-decoration: none;
}
a:hover {
    color:green;
}
.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid black; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}
.btn-group button:hover {
  color: blue; /* White text */
  background: black;
  border: 1px solid white;/* Green border */
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 500px;
  height : auto;
}
#myCanvas { background:#fff; border:1px solid #cbcbcb; }
