ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
   border-bottom: none !mportant;
   position: relative;
   margin: 2em 0;
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 500px;
  height : auto;
}
#squaree {
    width:100px;
    height:100px;
    background:green;
    position:absolute;
    z-index:-1;
    opacity:50%;
}
#centerdiv {
    text-align: center;
}
